body {
	background-image: url("../img/cocina-fondo.jpg");
	background-position: center center;
	background-size: cover;
}

.cuerpo {
	width: 90%;
	background-color: #c9d4f8cc;
	margin: 20px auto;
	border-radius: 15px;
	padding: 10px;
}


.logo-img{
  width: 30%;
}

img{

}



.logoArea {
	margin-bottom: 30px;
}

.expanded {
	width: 100%;
}

.expanded li {
	margin-bottom: 5px;
}

.favoritos {
	margin-top: 20px;	
}

.favoritos img {
	margin: 0 auto;
	padding: 0px 5px;
}

.textoBlog p {
	padding: 10px;
}